<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">

	<resultMap id="productSelectMap" type="product">
		<result property="prodNo" column="prod_no" jdbcType="INTEGER"/>
		<result property="prodName" column="prod_name"	 jdbcType="VARCHAR"/>
		<result property="prodDetail" column="prod_detail" jdbcType="VARCHAR"/>
		<result property="manuDate" column="manufacture_day" jdbcType="VARCHAR"/>
		<result property="price" column="price" jdbcType="INTEGER"/>
		<result property="fileName" column="image_file" jdbcType="VARCHAR"/>
		<result property="regDate" column="reg_date"	jdbcType="DATE"/>
	</resultMap>
	
	
	
	<insert id="addProduct" parameterType="product">
		INSERT
      INTO product( prod_no, prod_name , prod_detail , manufacture_day , price, image_file, reg_date) 
      VALUES    (   #{prodNo}, #{prodName} , #{prodDetail} , #{manuDate:VARCHAR} , #{price:INTEGER} , 
                     #{fileName:VARCHAR}, SYSDATE )
	</insert>
	
	
	
	<select id="getProduct" parameterType="int" resultMap="productSelectMap">
		SELECT prod_no, prod_name, prod_detail , manufacture_day , price, image_file, reg_date FROM product WHERE prod_no = #{value}
	</select>
	
	
	
	<select id="getProductList" parameterType="search" resultMap="productSelectMap">
		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT prod_no, prod_name, prod_detail, manufacture_day, price, image_file, reg_date FROM product
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				prod_no = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				prod_name = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
														price = #{searchKeyword}
													</if>
												</where>
											</if>
											ORDER BY prod_no ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	</select>
	
	
	
	<update id="updateProduct" parameterType="product">
		UPDATE product
		<trim prefix="SET" suffixOverrides=",">
			prod_name=#{prodName}, 
			prod_detail=#{prodDetail},
			manufacture_day=#{manuDate},
			image_file=#{fileName},
			price=#{price}
		</trim> 
			WHERE prod_no=#{prodNo}
	</update>
	
	
	
	<select id="getTotalCount" parameterType="search" resultType="int">
		SELECT COUNT(*)
	  	FROM(	SELECT * FROM product
			<if test="searchCondition != null">
				<where>
					<if test="searchCondition != null">
						<if test="searchCondition == 0 and searchKeyword != '' ">
							prod_no IN
							<foreach item="value" collection="prodNo" open="(" separator="," close=")">
								#{value}
							</foreach>
						</if>
						<if test="searchCondition == 1 and searchKeyword != '' ">
							prod_name IN
							<foreach item="value" collection="prodName" open="(" separator="," close=")">
								#{value}
							</foreach>
						</if>
						<if test="searchCondition == 2 and searchKeyword != '' ">
							price IN
							<foreach item="value" collection="price" open="(" separator="," close=")">
								#{value}
							</foreach>
						</if>
					</if>
				</where>
			</if> ) countTable
	</select>
	
	<delete id="removeProduct" parameterType="string">
		DELETE FROM product WHERE prod_name=#{value}
	</delete>
	
</mapper>